body {
    margin:0;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    background:#eee;
    width:100%;
    height:100%;
}

a {
    color: #00B7FF;
}

#wrapper{     
    margin-top:30px;
    margin-bottom:30px;
    width:90%;
    min-height:600px;
    margin-left:5%;
    border:1px solid #ddd;
    background:#fff;
}

.page-container{padding:20px;}
.page-data{padding:10px;}
.page-header{
    padding:2px;
    padding-left:40px;
    background:#665847;color:#FEFFFD;
}
.data-btn{}
.data-btn button{
    padding:10px 40px;background:#FF9900;border:1px solid #fff;
    color:#FEFFFD;font-weight:bold;
    font-size: 20px;
}
.data-btn button:hover {background-color: rgb(187, 113, 1);}

.data-table{font-weight: bold; text-align: center;}
.data-table table{border-collapse:collapse;border:1px solid #ddd;width:100%}
.a-inside{padding:4px 10px;border:1px solid #fff;text-decoration:none;}
.a-inside.edit{background-color:#00CC00;color:#fff;}
.a-inside.delete{background-color:#D23641;color:#fff;}

input[type="text"]{
    border:1px solid #ddd;
    height:26px;
    width:300px;
    text-align: center;
}
.cancel{
    background-color:#D23641;color:#fff;
    border:1px solid #d32132;color:#fff;
    padding:8px 35px;font-weight:bold;
}
input {
    border:1px solid #6599FF;
    margin: 5px 0;
    padding:8px;
    font-size: 22px;
}

textarea{
    border:1px solid grey;
    margin: 5px 0;
    padding:8px;
    font-size: 18px;
}
.label{font-weight:bold;}
th {background-color: rgb(240, 234, 226);}

#footer{margin-left:82%;margin-top:10%}
